{% extends "store/layout.html" %}

{% block body %}
<div class="grid-item-5">
    <table style=
        "width: auto;
        border-spacing: 20px;
        text-align: center; /* İçerik ortalansın */
        padding: 10px; ">
        <tr>
            {% for book in books %}
                <td style="text-align: center;">
                    <a href="{% url 'book_page' book.id %}"><img src="{{ book.photo.url }}" alt="{{ book.book_name }} " style= 
                    "width: 250px;
                    height: 400px;
                    border-radius: 15px;"></a>
                    <br>
                    <button style=
                        "margin-top: 10px;
                        padding: 10px 15px;
                        border-radius: 15px;
                        background-color: #444; /* İsteğe bağlı: buton arka planı */
                        color: white;
                        border: none;
                        cursor: pointer;">Sepete Ekle</button>
                </td>
                {% if forloop.counter|divisibleby:4 %}
                    <tr></tr>
                {% endif %}
            {% endfor %}
        </tr>
    </table>

</div>

{% endblock %}