{% load static %}
<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>{{user.username}}</title>
        <link rel="icon" type="image/x-icon" href="{{ logo.photo.url }}">
        <link rel="stylesheet" href="{% static 'store/user.css' %}">
        <script src="{% static 'store/script.js'%}"></script>
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-item-1">.</div>
            <div  class="grid-item-2">
                <table  align="center" cellspacing="30">
                    <tr>
                        <td >
                            <a href="{% url 'home' %}">
                                <img id="main-category" src="{{ logo.photo.url }}" height="30" width="70" style="border-radius: 5px;">
                            </a>
                        </td>
                        <td >
                            <form method="get" action="{% url 'search' %}">
                                <div style="display: grid; grid-template-areas: 'rounded-input button'; grid-template-columns: 3fr 1fr; ">
                                    <input type="text" name="word" class="rounded-input" style="grid-area: rounded-input;" placeholder="Search books, categories...">
                                    <button class="button" type="submit" style="grid-area: button; ">Arama</button>
                                </div>
                                
                            </form>
                        </td>
                        {% for category in categories %}
                            <td><a href="{% url 'category_page' category.name %}">{{ category.name|upper }}</a></td>
                        {% endfor %}
                        <td><a href="{% url 'authors_page' %}">YAZARLAR</a></td>
                        <td><a href="{% url 'publishing_houses_page' %}">YAYINEVLERİ</a></td>
                        
                        <td >
                            <a href="{% url 'cart_page' %}">
                                <img src="{{ cart.photo.url }}" width="25" height="25">
                            </a>
                        </td>
                        <td >
                            <a href="{% url 'user' %}">
                                <img src="{{ user_icon.photo.url }}" width="25" height="25">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid-item-3">
                <table>
                    <tr>
                        <td onclick="toggleRows('yazar')"><a href="{% url 'authors_page' %}">Yazar</a></td>
                    </tr>
                    <!--Yazar kategorisinin alt satırları-->
                    {% for author in authors %}
                        <tr class="hidden-row yazar" >
                            <td><a href="{% url 'author_page' author.name %}">{{ author.name|title}}</a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td onclick="toggleRows('yayinevi')"><a href="{% url 'publishing_houses_page' %}">Yayinevi</a></td>
                    </tr>
                    <!--Yayınevleri kategorisinin alt satırları-->
                    {% for publishing_house in publishing_houses %}
                        <tr class="hidden-row yayinevi" >
                            <td><a href="{% url 'publishing_house_page' publishing_house.name %}">{{ publishing_house.name|title }}</a></td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td onclick="toggleRows('turler')">Türler</td>
                    </tr>
                    <!--Türler kategorisinin alt satırları-->
                    {% for genre in genres %}
                        <tr class="hidden-row turler" >
                            <td><a href="{% url 'genre_page' genre.name %}">{{ genre.name | title}}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="grid-item-5">
                <div class = "user-info">
                    <table >
                        <tr>
                            <td><b>Kullanıcı Adı:</b></td>
                            <td><b>Ad:</b></td>
                            <td><b>Soyadı:</b></td>
                            <td><b>Mail:</b></td>
                            <td><b>Çıkış</b></td>
                        </tr>
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td><a href="{% url 'logout' %}">Yap</a></td>
                        </tr>
                    </table>
                </div>
                <div class = "undelivered">
                    {% if undelivered_order %}
                    <table>
                        <tr>
                            <td colspan="4" class="title"><b>Aktif Siparişleriniz</b></td>
                        </tr>
                        {% for order in undelivered_order %}
                        <tr>
                            <td colspan="4" class="order_counter"><i><b><u>{{ forloop.counter }}. Sipariş</u></b></i></td>
                        </tr>
                        <tr>
                            <td><b>Kitap Resmi:</b></td>
                            <td><b>Kitap Adı:</b></td>
                            <td><b>Kitap Sayısı:</b></td>
                            <td><b>Fiyat:</b></td>
                        </tr>
                            
                                {% for item in order.order_items.all %}
                                <tr>
                                    <td><img src="{{ item.book.photo.url }}" alt="{{ item.book.book_name }}"></td>
                                    <td>{{ item.book.book_name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.total_price }}</td>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="3">Toplam Ücret:</td>
                                        <td>{{ order.total_price }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Telefon Numarası: </td>
                                        <td colspan="2" class="info">{{ order.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td>Teslimat Adresi:</td>
                                        <td colspan="3" class="info">{{ order.address }}</td>
                                    </tr>
                                    {% if order.status == False %}
                                    <tr>
                                        <td colspan="4">Sipariş Durumu: Hazırlanıyor...</td>
                                    </tr>
                                    {% endif %}
                                </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                        <p>No undelivered orders found.</p>
                    {% endif %}
                    
                </div>
                <div class = "delivered">
                    {% if delivered_order %}
                        <table>
                            <tr>
                                <td colspan="4" class="title"><b>Geçmiş Siparişleriniz</b></td>
                            </tr>
                        {% for order in delivered_order %}
                        <tr>
                            <td colspan="4" class="order_counter"><i><b><u>{{ forloop.counter }}. Sipariş</u></b></i></td>
                        </tr>
                        <tr>
                            <td><b>Kitap Resmi:</b></td>
                            <td><b>Kitap Adı:</b></td>
                            <td><b>Kitap Sayısı:</b></td>
                            <td><b>Fiyat:</b></td>
                        </tr>
                            
                                {% for item in order.order_items.all %}
                                <tr>
                                    <td><img src="{{ item.book.photo.url }}" alt="{{ item.book.book_name }}"></td>
                                    <td>{{ item.book.book_name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.total_price }}</td>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="3">Toplam Ücret:</td>
                                        <td>{{ order.total_price }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Telefon Numarası: </td>
                                        <td colspan="2" class="info">{{ order.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td>Teslimat Adresi:</td>
                                        <td colspan="3" class="info">{{ order.address }}</td>
                                    </tr>
                                    {% if order.status == True %}
                                    <tr>
                                        <td colspan="4">Siparişiniz Teslim Edilmiştir.</td>
                                    </tr>
                                    {% endif %}
                                </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                        <p>No undelivered orders found.</p>
                    {% endif %}
                </div>
                
                
            </div>
            <div class="grid-item-6">.</div>
            <div class="grid-item-7">.</div>

        </div>
        
    </body>
</html>
